<div class="container">
  <h1>Войти</h1>
  <form class="sign-up-form-form" [formGroup]="userService.signInForm" (ngSubmit)="login()">
    <p>
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput type="text" id="userName" formControlName="userName">
      </mat-form-field>
      <span class="error"
            *ngIf="userService.signInForm.get('userName').touched && userService.signInForm.get('userName').errors?.required">
      Поле обязательно для заполнения
    </span>
      <span class="error"
            *ngIf="userService.signInForm.get('userName').touched && userService.signInForm.get('userName').errors?.pattern">
      Логин должен содержать только латинские буквы и цифры
    </span>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>
      <span class="error"
            *ngIf="userService.signInForm.get('password').touched && userService.signInForm.get('password').errors?.required">
      Поле обязательно для заполнения
    </span>
    </p>
    <button mat-raised-button color="primary">Войти</button>
    <span>Нет аккаунта? <a routerLink="/signUp">Зарегистрироваться</a></span>
  </form>
</div>
