<div class="container">
  <h1>Зарегистрироваться</h1>
  <form class="sign-up-form-form" [formGroup]="userService.signUpForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput type="text" id="fullName" formControlName="fullName">
      </mat-form-field>
      <span class="error"
            *ngIf="userService.signUpForm.get('fullName').touched && userService.signUpForm.get('fullName').errors?.required">
      Поле обязательно для заполнения
    </span>
      <span class="error"
            *ngIf="userService.signUpForm.get('fullName').touched && userService.signUpForm.get('fullName').errors?.pattern">
      Логин должен содержать только латинские и русские буквы
    </span>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput type="text" id="userName" formControlName="userName">
      </mat-form-field>
      <span class="error"
            *ngIf="userService.signUpForm.get('userName').touched && userService.signUpForm.get('userName').errors?.required">
      Поле обязательно для заполнения
    </span>
      <span class="error"
            *ngIf="userService.signUpForm.get('userName').touched && userService.signUpForm.get('userName').errors?.pattern">
      Логин должен содержать только латинские буквы и цифры
    </span>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" id="email" formControlName="email">
      </mat-form-field>
      <span class="error"
            *ngIf="userService.signUpForm.get('email').touched && userService.signUpForm.get('email').errors?.required">
      Поле обязательно для заполнения
    </span>
      <span class="error"
            *ngIf="userService.signUpForm.get('email').touched && userService.signUpForm.get('email').errors?.email">
      Неверный формат электронной почты
    </span>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>
      <span class="error"
            *ngIf="userService.signUpForm.get('password').touched && userService.signUpForm.get('password').errors?.required">
      Поле обязательно для заполнения
    </span>
      <span class="error"
            *ngIf="userService.signUpForm.get('password').touched && userService.signUpForm.get('password').errors?.minlength">
            Пароль должен быть длиннее 6 символов и содержать хотя бы 1 цифру и 1 букву
    </span>
    </p>
    <button mat-raised-button color="primary">Отправить</button>
    <span>Уже зарегистрированы? <a routerLink="/signIn">Войти</a></span>
  </form>
</div>
