<div class="container">
  <div class="filters">
    <mat-form-field id="search-field">
      <mat-label>Поиск</mat-label>
      <input matInput id="search" [(ngModel)]="searchStr">
    </mat-form-field>
    <div class="price-container">
      <mat-form-field id="price-start-field">
        <mat-label>Цена от</mat-label>
        <input matInput id="price-start" [(ngModel)]="priceStart">
      </mat-form-field>
      <mat-form-field id="price-end-field">
        <mat-label>Цена до</mat-label>
        <input matInput id="price-end" [(ngModel)]="priceEnd">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Жанр</mat-label>
        <mat-select [(ngModel)]="selectedGenre">
          <mat-option *ngFor="let genre of genres" [value]="genre.id">
            {{genre.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sort-container">
      <mat-form-field>
        <mat-label>Сортировать</mat-label>
        <mat-select [(ngModel)]="selectedSortingType">
          <mat-option *ngFor="let type of sortingTypes" [value]="type.value">
            {{type.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <span (click)="onPrevPage()" class="material-icons paging-icon">navigate_before</span>
    <span (click)="onNextPage()" class="material-icons paging-icon">navigate_next</span>
  </div>
  <div class="items-container">
    <app-album *ngFor="let album of albums" [album]="album">

    </app-album>
  </div>
</div>
